<h1>Technology Kenya Team</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <!-- Get ths idiots out of my face and give me very sweet html and css for a nice team
  <tbody>
    <% @the_teams.each do |the_team| %>
      <tr>
        <td><%= link_to 'Show', the_team %></td>
        <td><%= link_to 'Edit', edit_the_team_path(the_team) %></td>
        <td><%= link_to 'Destroy', the_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>-->
</table>

<br>

<!--<%= link_to 'New The team', new_the_team_path %>-->
